@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #4194e2;
  --secondary-color: #7f27ff;
  --hover-color: #32383d38;
  --main-bg-color: #dce8ee;
  --section-bg-color: #fff;
  --primary-text-color: #000;
  --sub-text-color: #777;
  --border-color: #777;
}

.dark {
  --primary-color: #a1b2ba;
  --secondary-color: #7c91ff;
  --hover-color: #191d20;
  --main-bg-color: #21272a;
  --section-bg-color: #0d0f14;
  --primary-text-color: #fff;
  --sub-text-color: #777;
  --border-color: #777;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
}

img {
  width: 100%;
  display: block;
}

a.active {
  background-color: var(--hover-color);
}

/* table style */
.table-style {
  & .css-1essi2g-MuiDataGrid-columnHeaderRow {
    background-color: var(--secondary-color) !important;
  }
  & .css-128fb87-MuiDataGrid-toolbarContainer {
    background-color: var(--main-bg-color);
  }

  & .css-qcqlck-MuiDataGrid-root {
    color: var(--primary-text-color);
    border: none;
  }
  & .css-wop1k0-MuiDataGrid-footerContainer {
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
  }
  & .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
    color: var(--primary-color);
  }
  & .css-rtrcn9-MuiTablePagination-root {
    color: var(--primary-text-color);
  }
}

/* text editor style */
.ql-toolbar.ql-snow {
  background-color: var(--main-bg-color);
  border-color: var(--border-color);
}
.ql-container.ql-snow {
  height: calc(100% - 43px);
  border-color: var(--border-color);
}
.ql-editor.ql-blank::before {
  color: var(--main-bg-color);
  font-style: normal;
  font-weight: 400;
}
